.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: unset;
    position: static;
    margin: 0 auto;
    padding: 20px;
    font-family: var(--font-family, 'Nunito', sans-serif);
    background-image: url('/images/background/image-1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

.section {
  margin-bottom: 48px;
}
.dragDropWrapper {
  margin: 48px 0;
}